.dividerPage {
    display: flex;
}

.container {
    width: 75vw;
    height: 100vh;

    background-color: #e2e2e2;
}

.searchArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    // width: 90%;
    p {
        font-size: 3vw;
        color: #5a5959;
    }

    form {
        display: flex;
        flex-direction: row;

        input {
            width: 15vw;
            height: 80%;
            font-size: 16px;
            padding-left: 5%;
            // border-radius: 15vw;
            border-top-left-radius: 15vw;
            border-bottom-left-radius: 15vw;
            border: 0;
            // margin-right: -15%;
        }

        button {
            height: 80%;
            width: 4vw;
            border-radius: 3vw;
            border-bottom-left-radius: 0vw;
            border-top-left-radius: 0vw;
            border: 0;
            background-color: #00DFBF;
        }

        button:hover {
            background-color: #04a18a;
        }
    }

}

.tableArea {
    // background-color: #00DFBF;
    min-height: 40vh;

    table,
    th,
    td {
        border: 1px solid #212121;
    }

    table {
        border-collapse: collapse;
        margin: auto;
        width: 90%;
    }

    th,
    td {
        padding: 3px 2px;
        text-align: center;
        width: 2%;
    }

    th {
        font-weight: bold;
    }


    tr:nth-child(even) {
        background-color: #cccccc;
    }

    tr:hover:nth-child(1n + 2) {
        background-color: #999999;
        color: #fff;
    }
}

.btnEditTableRow{
    border: 0;
    color: #fff;
    background-color: #232323;
    padding: 5%;
    width: 60%;
    border-radius: 5%;
}

.btnsPaginationPreviousNext{
    margin: 1% 5%;
    width: 90%;

    button{
        margin-right: 2%;
        border: 0;
        background-color: #999999;
        width: 5%;
    }
    button:hover{
        background-color: #232323;
    }
}