
.bodyModal{
   display: flex;
   flex-direction: column;
   border: 1px solid #212121;
   border-radius: 5%;
   padding: 5%;

   div{
    display: flex;
    flex-direction: row;
    margin: 5% 0;
    justify-content: space-between;
   }
}


.titleModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
    margin-bottom: 5%;
}