.dividerPage {
    display: flex;
}

.container {

    p {
        font-size: 3vw;
        color: #5a5959;
        height: 10%;
        width: 100%;
        text-align: center;
    }

    //escondendo setas do input number
    /* Chrome e outros */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75vw;
    height: 100vh;

    background-color: #e2e2e2;

    h1 {
        color: #5a5959;
        margin-bottom: 2rem;
        font-size: 3vw;
    }

    form {
        width: 60vw;

        label {
            margin-left: 0.5rem;
        }

        padding: 2rem;
        border: 1px solid #b1b1b1;
        border-radius: 1rem;

        input {
            border: 0;
            height: 2.5rem;
            width: 100%;
            border-radius: 1.25rem;
            padding-left: 1rem;
            font-size: 1em;
            margin-top: .5rem;


        }

        .inputRowOne {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .inputName {
                width: 65%;
            }

            .inputColor {
                width: 25%;
            }
        }

        .inputRowTwo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 1rem;
            align-items: flex-start;

            .inputQtd {
                width: 40%;
            }

            .inputMeasure {
                width: 32%;
                margin: 0 4%;
            }
        }

        .switchArea {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 20%;
            height: 10vh;
        }

        .selectsGroup {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1rem 0;

            select {
                border: 0;
                height: 2.5rem;
                width: 47%;
                border-radius: 1.25rem;
                padding-left: 1rem;
                font-size: 1em;
                margin-top: .5rem;
            }
        }

        .ButtonArea {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            button {
                height: 2.5rem;
                width: 25%;
                border-radius: 1.25rem;
                margin-top: .9rem;
                background-color: #00DFBF;
                border: 0;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
            }

            button:hover {
                background-color: #04a18a;
            }
        }
    }

    hr {
        margin: 2rem 0;
        background-color: #3a3a3a;
    }
}